@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: 81, 81, 229;
}


body {
    font-family: 'Forza';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    /* background-color: rgb(27 29 40 / 1); */
}
